* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  margin: 2vh 0;
}

/* Navbar */
#navbar {
  background-color: #000;
  display: flex;
  justify-content: flex-end;
}

#video {
  width: 100%;
  height: 100%;
}

/* Navbar links */
#navbar a {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 2vh 5%;
}

/* intro first (section) */
.intro {
  position: relative;
  background-size: cover;
}

.intro-overlay {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0%;
  top: 0%;
}

.intro-overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* section 2 */
/* containers */
.container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  margin: auto;
  text-align: center;
}

.container-item {
  position: relative;
  width: 46%;
  margin: 0 1%;
  padding: 2vh 0;
}

.container-item .sub-item {
  position: absolute;
  margin: auto;
}

.container-item img {
  width: 100%;
  border-radius: 8px;
}

.container-item img:hover {
  opacity: 0.9;
}

.container a {
  color: #1338be;
}

/* section 3- about */
#about {
  background: linear-gradient(to top left, rgb(0, 0, 59), rgb(0, 0, 167));
  background-size: 400% 400%;
  animation: bgcolor 9s ease infinite;
  color: white;
  padding: 1%;
}

@keyframes bgcolor {
  0% {
    background-position: 19% 0%;
  }
  50% {
    background-position: 82% 100%;
  }
  100% {
    background-position: 19% 0%;
  }
}
#about h2 {
  margin-bottom: 5%;
}

#about p {
  margin: auto auto;
  width: 90%;
}

/* section 4 -contact */
#contact {
  margin: 0 35%;
}

#contact * {
  margin: 2.5% 0;
}

#contact a {
  color: blue;
  font-weight: bold;
}

#contact a i {
  color: black;
}

#contact i {
  margin-right: 0.5vw;
}

footer {
  text-align: center;
  background-color: #000;
  color: white;
  font-weight: bold;
  padding: 1%;
}

/* media query */
@media screen and (max-width: 768px) {
  .container-item {
    width: 99%;
  }
}

@media screen and (max-width: 425px) {
  .intro-overlay {
    margin: auto;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 320px) {
  .intro-overlay {
    font-size: 1.5rem;
    margin: auto;
  }
}
